<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoidmFyaWFibGVibHVydmlldyIsImxvY2F0aW9uIjp7InJlbW90ZSI6W3si
		dXJsU3RyaW5nIjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL2FoZXplXC9WYXJp
		YWJsZUJsdXJWaWV3In1dfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWly
		ZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIxLjAuMiIsInVwcGVy
		Qm91bmQiOiIyLjAuMCJ9XX19XX0seyJzb3VyY2VDb250cm9sIjpbeyJpZGVu
		dGl0eSI6ImZsdWlkZ3JhZGllbnQiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlt7
		InVybFN0cmluZyI6Imh0dHBzOlwvXC9naXRodWIuY29tXC9DaW5kb3JpXC9G
		bHVpZEdyYWRpZW50LmdpdCJ9XX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJl
		cXVpcmVtZW50Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMS4wLjAiLCJ1
		cHBlckJvdW5kIjoiMi4wLjAifV19fV19XSwiZGlzcGxheU5hbWUiOiJQZW5j
		aWxlcmEiLCJwYWNrYWdlS2luZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6
		W3sib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24i
		OiIxNy41In1dLCJwcm9kdWN0cyI6W3sibmFtZSI6IlBlbmNpbGVyYSIsInNl
		dHRpbmdzIjpbeyJidW5kbGVJZGVudGlmaWVyIjpbIm9yZy5zdGFybGlnaHRh
		cHBzLnBlbmNpbGVyYSJdfSx7InRlYW1JZGVudGlmaWVyIjpbIjNTNk5UNU1V
		UVoiXX0seyJkaXNwbGF5VmVyc2lvbiI6WyIxLjAuMSJdfSx7ImJ1bmRsZVZl
		cnNpb24iOlsiNyJdfSx7ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7
		InByZXNldENvbG9yIjp7InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoiYmx1
		ZSJ9fX0sImFwcENhdGVnb3J5Ijp7InJhd1ZhbHVlIjoicHVibGljLmFwcC1j
		YXRlZ29yeS5waG90b2dyYXBoeSJ9LCJhcHBJY29uIjp7ImFzc2V0Ijp7Im5h
		bWUiOiJBcHBJY29uIn19LCJjYXBhYmlsaXRpZXMiOlt7InB1cnBvc2UiOiJj
		YW1lcmEiLCJwdXJwb3NlU3RyaW5nIjoiUGVuY2lsZXJhIHVzZXMgeW91ciBj
		YW1lcmEgdG8gY2FwdHVyZSBwaG90b3MuIn0seyJwdXJwb3NlIjoicGhvdG9M
		aWJyYXJ5IiwicHVycG9zZVN0cmluZyI6IlBlbmNpbGVyYSBuZWVkcyB0byBi
		ZSBhYmxlIHRvIHNhdmUgcGhvdG9zIHRvIHlvdXIgcGhvdG8gbGlicmFyeS4i
		fV0sInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBhZCJdLCJzdXBwb3J0
		ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOltdfV19XSwidGFyZ2V0cyI6WyJB
		cHAiXSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAi
		OnsiQXBwIjp7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJWYXJpYWJs
		ZUJsdXJWaWV3IiwiVmFyaWFibGVCbHVyVmlldyIsbnVsbCxudWxsXX0seyJw
		cm9kdWN0IjpbIkZsdWlkR3JhZGllbnQiLCJGbHVpZEdyYWRpZW50IixudWxs
		LG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwIiwicGFja2FnZUFj
		Y2VzcyI6ZmFsc2UsInBhdGgiOiJBcHAiLCJyZXNvdXJjZXMiOlt7InBhdGgi
		OiJSZXNvdXJjZXMiLCJydWxlIjp7InByb2Nlc3MiOnt9fX1dLCJzZXR0aW5n
		cyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn19LCJ0YXJnZXRzIjpbeyJkZXBl
		bmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiVmFyaWFibGVCbHVyVmlldyIsIlZh
		cmlhYmxlQmx1clZpZXciLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJGbHVp
		ZEdyYWRpZW50IiwiRmx1aWRHcmFkaWVudCIsbnVsbCxudWxsXX1dLCJleGNs
		dWRlIjpbXSwibmFtZSI6IkFwcCIsInBhY2thZ2VBY2Nlc3MiOmZhbHNlLCJw
		YXRoIjoiQXBwIiwicmVzb3VyY2VzIjpbeyJwYXRoIjoiUmVzb3VyY2VzIiwi
		cnVsZSI6eyJwcm9jZXNzIjp7fX19XSwic2V0dGluZ3MiOltdLCJ0eXBlIjoi
		ZXhlY3V0YWJsZSJ9XSwidG9vbHNWZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS42
		LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		YTkS0xO/8EIUghbcgfzOXP9g+IB9CIxw1RstDPpVdhU=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.10.0-dev</string>
	</dict>
</dict>
</plist>
