<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoidmFyaWFibGVibHVydmlldyIsImxvY2F0aW9uIjp7InJlbW90ZSI6W3si
		dXJsU3RyaW5nIjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL2FoZXplXC9WYXJp
		YWJsZUJsdXJWaWV3In1dfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWly
		ZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIxLjAuMiIsInVwcGVy
		Qm91bmQiOiIyLjAuMCJ9XX19XX0seyJzb3VyY2VDb250cm9sIjpbeyJpZGVu
		dGl0eSI6ImZsdWlkZ3JhZGllbnQiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlt7
		InVybFN0cmluZyI6Imh0dHBzOlwvXC9naXRodWIuY29tXC9DaW5kb3JpXC9G
		bHVpZEdyYWRpZW50LmdpdCJ9XX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJl
		cXVpcmVtZW50Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMS4wLjAiLCJ1
		cHBlckJvdW5kIjoiMi4wLjAifV19fV19XSwiZGlzcGxheU5hbWUiOiJQZW5j
		aWxlcmEiLCJwYWNrYWdlS2luZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6
		W3sib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24i
		OiIxNy41In1dLCJwcm9kdWN0cyI6W3sibmFtZSI6IlBlbmNpbGVyYSIsInNl
		dHRpbmdzIjpbeyJidW5kbGVJZGVudGlmaWVyIjpbIm9yZy5zdGFybGlnaHRh
		cHBzLnBlbmNpbGVyYSJdfSx7InRlYW1JZGVudGlmaWVyIjpbIjNTNk5UNU1V
		UVoiXX0seyJkaXNwbGF5VmVyc2lvbiI6WyIxLjAiXX0seyJidW5kbGVWZXJz
		aW9uIjpbIjEiXX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJw
		cmVzZXRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJyYXdWYWx1ZSI6ImJsdWUi
		fX19LCJhcHBDYXRlZ29yeSI6eyJyYXdWYWx1ZSI6InB1YmxpYy5hcHAtY2F0
		ZWdvcnkucGhvdG9ncmFwaHkifSwiYXBwSWNvbiI6eyJhc3NldCI6eyJuYW1l
		IjoiQXBwSWNvbiJ9fSwiY2FwYWJpbGl0aWVzIjpbeyJwdXJwb3NlIjoiY2Ft
		ZXJhIiwicHVycG9zZVN0cmluZyI6IlBlbmNpbGVyYSB1c2VzIHlvdXIgY2Ft
		ZXJhIHRvIGNhcHR1cmUgcGhvdG9zLiJ9LHsicHVycG9zZSI6InBob3RvTGli
		cmFyeSIsInB1cnBvc2VTdHJpbmciOiJQZW5jaWxlcmEgbmVlZHMgdG8gYmUg
		YWJsZSB0byBzYXZlIHBob3RvcyB0byB5b3VyIHBob3RvIGxpYnJhcnkuIn1d
		LCJzdXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJz
		dXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOltdfV19XSwidGFyZ2V0
		cyI6WyJBcHAiXSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJn
		ZXRNYXAiOnsiQXBwIjp7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJW
		YXJpYWJsZUJsdXJWaWV3IiwiVmFyaWFibGVCbHVyVmlldyIsbnVsbCxudWxs
		XX0seyJwcm9kdWN0IjpbIkZsdWlkR3JhZGllbnQiLCJGbHVpZEdyYWRpZW50
		IixudWxsLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwIiwicGFj
		a2FnZUFjY2VzcyI6ZmFsc2UsInBhdGgiOiJBcHAiLCJyZXNvdXJjZXMiOltd
		LCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn19LCJ0YXJnZXRz
		IjpbeyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiVmFyaWFibGVCbHVy
		VmlldyIsIlZhcmlhYmxlQmx1clZpZXciLG51bGwsbnVsbF19LHsicHJvZHVj
		dCI6WyJGbHVpZEdyYWRpZW50IiwiRmx1aWRHcmFkaWVudCIsbnVsbCxudWxs
		XX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcCIsInBhY2thZ2VBY2Nlc3Mi
		OmZhbHNlLCJwYXRoIjoiQXBwIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3Mi
		OltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9XSwidG9vbHNWZXJzaW9uIjp7Il92
		ZXJzaW9uIjoiNS42LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		cfctAirrIYHcreGN/ImeADDcrWE6fL4yhjjxeJqW8qg=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.10.0-dev</string>
	</dict>
</dict>
</plist>
